body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    width: 80px;
    height: 80px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    text-align: center;
}



.day-content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.day-content:hover {
    background-color: #e0e0e0;
}

.day-fullfilled {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(85, 227, 80);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.day-fullfilled:hover {
    background-color: #b8eabb;
}

table a {
    text-decoration: none;
    font-size: xx-large;
    color: #000;
    text-decoration: none;
}

.special-day {
    background-color: #a9bbf1;
    color: #000;
}

/* .contact-form-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.music-list {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.day {
    color: #000;
}

/* .btn-update {
    padding: 5px 10px;
    background-color: #e7bc6d;
    border-radius: 5px;
    text-decoration: none;
    color:#000;
    margin: 10px;
} */
 #update {
    margin-left: 20px;
    margin-right: 7px;
 }

/* .btn-delete {
    padding: 5px 10px;
    background-color: #ec3131;
    border-radius: 5px;
    text-decoration: none;
    color:#ffffff;
} */

 #adicionar{
    margin: 10px 0;
 }

 input {
    margin-bottom: 10px;
 }