{% extends "schedules/base.html" %}


{% block content %}
    <div class="add-music-form-container">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary" value="Submit">Adicionar</button>
        </form>


        <div class="music-list">
            {% for music in musics %}
                <div class="music-item">
                    <span class="moment-name">{{ music.get_moment_name }}</span> -
                    <span class="music-name">{{ music.music_name }}</span> |
                    <span class="music-reference">{{ music.reference }}</span> 
                    {% if music.number > 0 %}
                        <span class="music-number">n° {{ music.number }}</span>
                    {% else %}
                    <span class="music-number"></span>
                    {% endif %}
                    <a href="{% url 'schedules:update' music.id %}">✏️ Alterar</a>
                    <a href="{% url 'schedules:delete_music' music.id %}">❌ Deletar</a>

                </div>
            {% empty %}
                <div>Nenhuma música cadastrada para este dia.</div>
            {% endfor %}
            <button id="copiar-cronograma">Copiar Cronograma</button>
        </div>
    </div>
{% endblock %}
